@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#submitSighting, #submitAnimal, #submitSpecies{
  text-align: center !important;
  background-color: aquamarine;
}

#formdiv{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: left;
}


label {
  display: inline-block;
  text-align: left;
  width: 50%;
 } 

ul {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
}


#redpanda{
  width: 25%;
}


.eachAnimalInfo{
  /* display: flex;
  justify-content: space-between; */
  max-width: 500px;
  margin: 0 auto;
  background: #aeca95;
  padding: 10px 0;
  border-style: dashed;
}

.space{
  height: 30px;
}


h1{
  padding-top: 10px;
}

h3{
  text-align: center;
}

#animalName{
  color:aquamarine;
  font-weight: 800;
  text-align: center;
}

.oneAnimalText{
  font-weight: 400;
  text-align: left;
  padding-left: 25%;
}